body {
    font-family: sans-serif;
    color:black;
    background-color: #E0FFFF;
    font-size: 25px;
}
.grid {
    display: grid;
    grid-template-columns: 800px 600px;
}
.grid-item1 {
    margin:20px 50px;
}
.grid-item2 {
    margin:20px 60px;
}

a {
    color: black;
}